@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Signika Negative", sans-serif;
  background-image: radial-gradient(circle, #B2B5E0, #C5ADC5);
}